# Developer dependencies
flake8>=3.7.8
pycodestyle>=2.5.0
pyflakes>=2.1.1
Pygments>=2.4.2
# PyGithub>=1.43.8
pytest==4.6.5 # pinned for Python 2.7.x support
pytest-cov>=2.7.1
pytest-runner>=5.1
Sphinx>=1.8.5
sphinxcontrib-napoleon>=0.7
yapf>=0.28.0
mock

