Jinja2>=2.7.3
backports.ssl-match-hostname>=3.4.0.2
py>=1.4.26
pytest>=2.7.0
python-dateutil>=2.4.2
requests>=2.6.0
six>=1.9.0
websocket-client==0.53.0
requests_toolbelt>=0.7.1
future>=0.16.0
configparser>=3.5.0
cloudpickle>=0.4.0
