{
    "apikey": "api key of the client",
    "apisecret": "api secret of the client",
    "username": "johnsmith",
    "password": "the passwod",
    "apiserver": "https://agave.iplantc.org",
    "storage": "test-storage-id",
    "storage_key": "key for the storage system",
    "execution": "test-compute-id",
    "execution_key": "key for the execution system",
    "app_name": "jfs-sdk",
    "deployment_path": "apps/wc-1.00",
    "jwt_header": "X-JWT-Assertion-agave-prod",
    "jwt": "",
    "verify_certs": true
}
